.bodyBackground 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas/*deixou vazio*/
{
    border-width:10px;
    background-color: white; 
    border-style:ridge;
	border-color:darkviolet;
}

